apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
  namespace: nodejs
spec:
  replicas: 5
  selector:
    matchLabels:
      app: nodejs-app
  template:
    spec:
      nodeSelector:
        karpenter.sh/nodepool: default
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
        - name: nodejs
          image: 445839263969.dkr.ecr.ap-south-1.amazonaws.com/nodejs:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
